.model {
  display: flex;
  display: flex;
  justify-content: space-between;
  min-height: 700px;
  gap: 10px;
  div {
    border-radius: 5px;
  }
  &__left {
    padding: 5px;
    border: 1px solid black;
  }
  &__main {
  }
  &__right {
    padding: 5px;
    border: 1px solid black;
  }
  @media (max-width: 750px) {
  }
}
