.choose__btn {
  display: none;
}
.model {
  display: flex;
  display: flex;
  justify-content: space-between;
  min-height: 700px;
  padding: 0 10px;
  gap: 10px;
  div {
    border-radius: 5px;
  }
  &__left {
    padding: 5px;
    border: 1px solid black;
  }
  &__main {
  }
  &__right {
    padding: 5px;
    border: 1px solid black;
  }
}
@media (max-width: 500px) {
  .choose__btn {
    display: flex;
  }
  .model {
    &__left {
      order: 2;
      max-height: 200px;
    }
    &__main {
      order: 3;
    }
    &__right {
      display: none;
      order: 1;
    }
  }
}
